@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    line-height: 1.5;
    color: #333333;
    background-color: #ffffff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
}

/* header */
.header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {}

.gnb {
    display: flex;
    position: relative;
    z-index: 1;
}

.gnb::after {
    content: '';
    position: absolute;
    top: 100px;
    right: 0;
    background-color: #fff;
    width: 1200px;
    height: 0;
    transition: all 0.2s;
}

.gnb.active::after {
    height: 150px;
}

.gnb > li {
    position: relative;
}

.gnb > li > a {
    display: block;
    height: 100px;
    padding: 0 60px;
    line-height: 100px;
}

.gnb > li:hover > a {
    color: chartreuse;
}

.gnb > li:hover > a::after {
    content: '';
    position: absolute;
    top: 30px;
    right: 10px;
    height: 10px;
    width: 10px;
    background-color: chartreuse;
    border-radius: 20px;
}

.gnb ul {
    position: absolute;
    top: 100px;
    right: 0;
    width: 100%;
    background-color: #fff;
    display: none;
    z-index: 1;
}

.gnb ul li {}

.gnb ul li a {
    display: block;
    padding: 14px;
    text-align: center;
}

.gnb ul li:hover a {
    background-color: chartreuse;
    color: #ffffff;
}


/* slider */
.slider {
    height: 300px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}

.slide img {
    display: block;
}


/* contents */
.contents {
    height: 200px;
    display: flex;
    padding: 10px 0;
    gap: 6px;
}

.tab_01 {
    flex: 1;
    position: relative;
}

.tab_01 h3 {
    display: block;
    height: 50px;
    width: 30%;
    text-align: center;
    line-height: 50px;
    border: 1px solid chartreuse;
    border-bottom: 2px solid #fff;
    position: relative;
    z-index: 1;
}

.tab_01 ul {
    position: absolute;
    top: 49px;
    left: 0;
    height: 131px;
    width: 100%;
    padding: 10px;
    border: 1px solid chartreuse;
}

.tab_01 ul li {}

.tab_01 ul li p {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 4px 0;
    cursor: pointer;
}

.tab_01 ul li:hover p {
    text-decoration: underline;
}

.tab_02 {
    flex: 1;
    position: relative;
}

.tab_02 h3 {
    display: block;
    background-color: chartreuse;
    height: 50px;
    width: 30%;
    text-align: center;
    line-height: 50px;
}

.tab_02 ul {
    position: absolute;
    top: 50px;
    left: 0;
    height: 130px;
    width: 100%;
    padding: 10px;
    border: 1px solid chartreuse;
}

.tab_02 ul li {
    float: left;
    width: 32%;
    height: 100%;
    margin-left: 6px;
}

.tab_02 ul li:first-child {
    margin-left: 0;
}

.tab_02 ul li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner {
    flex: 1;
    cursor: pointer;
}

.banner img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* footer */
.footer {
    height: 100px;
    margin: 0 auto;
    background-color: #ccc;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright {
    font-size: 16px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
}

.links li a {
    background-color: antiquewhite;
    padding: 2px 10px;
    border-radius: 20px;
}

.links li:hover a {
    background-color: #fff;
}


/* modal */
#modal {
    background-color: #ffffff;
    border: 1px solid #333333;
    width: 500px;
    height: 400px;
    padding: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#modal.show {
    display: block;
}

#modal h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

#modal p {
    line-height: 1.7;
}

#modal a {
    background-color: #ddd;
    padding: 10px 16px;
    position: absolute;
    bottom: 30px;
    right: 30px;
}